<td class="span9">
  <div class="hidden-desktop">
    <div>{{ name }}</div>
    <div><small>Qty: {{ qty }}</small></div>
    <div><small>Color: {{ color }}</small></div>
    <div><small>Size: {{ size }}</small></div>
    <div><small>Unit price: {{ toCurrency price }}</small></div>
  </div>
  <div class="visible-desktop">
    <div class="">{{ name }}</div>
    <div class="span2"><small>Qty: {{ qty }}</small></div>
    <div class="span2"><small>Color: {{ color }}</small></div>
    <div class="span2"><small>Size: {{ size }}</small></div>
    <div class="span3"><small>Unit price: {{ toCurrency price }}</small></div>
  </div>
  <div class="destroy">
    <a href="#" class="destroy-link"><i class="icon-remove-circle"></i> Remove</a>
  </div>
</td>
<td class="currency span3">{{ toCurrency item_sale_total }}</td>
