<div class="sale-header row">
  <div class="span8">Bill to: <strong>{{ customer.name }}</strong></div>
  <div class="span4">Date: {{ formattedDateOnly created_at }}</div>
</div>

<div class="sale-details">
  <table class="table table-striped bordered">
    <thead>
      <th>Items</th>
      <th class="currency">Totals</th>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr>
        <td class="span6 currency"><strong>Sale Total</strong></td>
        <td class="span3 amount currency"><strong>{{ toCurrency amount }}</strong></td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="sale-footer monotype">
  <div>{{ toCents amount }}||{{ customer.uid }}||{{ uid }}</div>
</div>
