<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <!-- Facebook sharing information tags -->
        <meta property="og:title" content="*|MC:SUBJECT|*">
        
        <title>*|MC:SUBJECT|*</title>
    
  </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #FAFAFA;width: 100%;">
      <center>
          <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="margin: 0;padding: 0;background-color: #FAFAFA;height: 100%;width: 100%;">
              <tr>
                  <td align="center" valign="top" style="padding-top: 20px;border-collapse: collapse;">
                      <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border: 1px solid #DDDDDD;background-color: #FFFFFF;">
                          <tr>
                              <td align="center" valign="top" style="border-collapse: collapse;">
                                    <!-- // Begin Template Body \ -->
                                  <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                                      <tr>
                                            <td valign="top" style="border-collapse: collapse;">
                                
                                                <!-- // Begin Module: Standard Content \ -->
                                                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top" class="bodyContent" style="border-collapse: collapse;background-color: #FFFFFF;">
                                                            <div mc:edit="std_content00" style="color: #505050;font-family: Arial;font-size: 14px;line-height: 150%;text-align: left;">
                                                                <h2 class="h2" style="color: #202020;display: block;font-family: Arial;font-size: 30px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;"><%= @store %></h2>
                                                                <h3 class="h3" style="color: #202020;display: block;font-family: Arial;font-size: 26px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;">SALE RECEIPT #<%= @sale.uid %></h3>
                                                                <p>
                                                                  <strong>Bill to: <%= @customer.name %></strong><br>
                                                                  Date: <%= @sale.created_at.strftime("%b %d, %Y") %>
                                                                </p>
                                                            </div>
                            </td>
                                                    </tr>
                                                    <tr>
                                                      <td valign="top" style="padding-top: 0;padding-bottom: 0;border-collapse: collapse;">
                                                          <table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable" style="background-color: #FFFFFF;border: 1px solid #DDDDDD;">
                                                              <tr>
                                                                  <th scope="col" valign="top" width="50%" class="dataTableHeading" mc:edit="data_table_heading00" style="background-color: #D8E2EA;color: #336699;font-family: Helvetica;font-size: 14px;font-weight: bold;line-height: 150%;text-align: left;">
                                                                    ITEM
                                                                  </th>
                                                                  <th scope="col" valign="top" width="25%" class="dataTableHeading" mc:edit="data_table_heading01" style="background-color: #D8E2EA;color: #336699;font-family: Helvetica;font-size: 14px;font-weight: bold;line-height: 150%;text-align: left;">
                                                                    UNIT PRICE
                                                                  </th>
                                                                  <th scope="col" valign="top" width="25%" class="dataTableHeading" mc:edit="data_table_heading02" style="background-color: #D8E2EA;color: #336699;font-family: Helvetica;font-size: 14px;font-weight: bold;line-height: 150%;text-align: left;">
                                                                    ITEM SUBTOTAL
                                                                  </th>
                                                              </tr>
                                                              <% @sale.line_items.each do |item| %>
                                                              <tr mc:repeatable>
                                                                  <td valign="top" class="dataTableContent" mc:edit="data_table_content00" style="border-collapse: collapse;border-top: 1px solid #DDDDDD;border-bottom: 0;color: #202020;font-family: Helvetica;font-size: 12px;font-weight: bold;line-height: 150%;text-align: left;">
                                                                    <div><%= item.qty %> <%= item.name %></div>
                                                                    <div>Color: <%= item.color %> / Size: <%= item.size %></div>
                                                                  </td><td valign="top" class="dataTableContent" mc:edit="data_table_content01" style="text-align: right;border-collapse: collapse;border-top: 1px solid #DDDDDD;border-bottom: 0;color: #202020;font-family: Helvetica;font-size: 12px;font-weight: bold;line-height: 150%;">
                                                                    <%= number_to_currency item.price %>
                                                                  </td>
                                                                  <td valign="top" class="dataTableContent" mc:edit="data_table_content02" style="text-align: right;border-collapse: collapse;border-top: 1px solid #DDDDDD;border-bottom: 0;color: #202020;font-family: Helvetica;font-size: 12px;font-weight: bold;line-height: 150%;">
                                                                    <%= number_to_currency item.item_sale_total %>
                                                                  </td>
                                                              </tr>
                                                              <% end %>
                                                              <tr>
                                                                <th scope="col" valign="top" class="dataTableHeading" mc:edit="data_table_heading00" colspan="2" style="text-align: right;background-color: #D8E2EA;color: #336699;font-family: Helvetica;font-size: 14px;font-weight: bold;line-height: 150%;">
                                                                    SALE TOTAL
                                                                  </th>
                                                                <td valign="top" class="dataTableContent" mc:edit="data_table_content02" style="text-align: right;border-collapse: collapse;border-top: 1px solid #DDDDDD;border-bottom: 0;color: #202020;font-family: Helvetica;font-size: 12px;font-weight: bold;line-height: 150%;">
                                                                  <%= number_to_currency @sale.amount %>
                                                                </td>
                                                              </tr>
                                                          </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" class="bodyContent" style="border-collapse: collapse;background-color: #FFFFFF;">
                                                            <hr>
                                                            <div mc:edit="std_content01" style="color: #505050;font-family: Arial;font-size: 14px;line-height: 150%;text-align: left;">
                                                                <%= @sale.amount.to_i * 100 %>||<%= @customer.uid %>||<%= @sale.uid %>
                                                            </div>
                            </td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Standard Content \ -->
                                                
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Body \ -->
                                </td>
                            </tr>
                          <tr>
                              <td align="center" valign="top" style="border-collapse: collapse;">
                                    <!-- // Begin Template Footer \ -->
                                  <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter" style="background-color: #FFFFFF;border-top: 0;">
                                      <tr>
                                          <td valign="top" class="footerContent" style="border-collapse: collapse;">
                                            
                                                <!-- // Begin Module: Transactional Footer \ -->
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top" style="border-collapse: collapse;">
                                                            <div mc:edit="std_footer" style="color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;text-align: center;">
                                <em>Sale receipt sent from <a href="http://saletrackr.me" style="color: #336699;font-weight: normal;text-decoration: underline;">SaleTrackr</a>.</em><br>
                                Do you need to track customers, sales and payments?  <a href="http://saletrackr.me/register" style="color: #336699;font-weight: normal;text-decoration: underline;">Open a FREE account</a>. 
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Transactional Footer \ -->
                                            
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Footer \ -->
                                </td>
                            </tr>
                        </table>
                        <br>
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>