<td class="span8">
  <div class="transaction-type">{{ type }}</div>
  <div class="transaction-date">{{ formattedDate created_at }}</div>
  <div class="actions">
    <a href="/#/{{ downcasePluralize type }}/{{ id }}" class=""><i class="icon-eye-open"></i> View</a>
  </div>
</td>
<td class="span4">
  <div class="amount">{{ toCurrency amount }}</div>
</td>
