  <h3>RECEIPT #{{ uid }}</h3>

  <div class="well">
    <div class="">
      <div class="amount large">{{ toCurrency amount }}</div>
      <div class="payment-date">Date received: {{ formattedDateOnly created_at }}</div>
    </div>
    <hr />
    Received from: {{ customer.name }}
    <div class="concept">As partial payment on account balance.</div>
    <hr />
    <div class="monotype">
      {{ toCents amount }}][{{ customer.uid }}][{{ uid }}
    </div>
  </div>
<div class="form-actions">
  <a href="#" class="btn btn-link"><i class="icon-envelope"></i> Email</a>
  <a href="/#/payments/{{ id }}/edit" class="btn btn-link"><i class="icon-edit"></i> Edit</a>


  <div class="btn-group">
    <a class="btn dropdown-toggle btn-link" data-toggle="dropdown" href="#">
      <i class="icon icon-remove-sign"></i> Delete
    </a>
    <ul class="dropdown-menu">
      <li><a href="#" id="delete-payment">Yes, Delete</a></li>
    </ul>
  </div>
</div>
