<div class="">
  <div class="amount large">{{ toCurrency amount }}</div>
  <div class="payment-date">Date received: {{ formattedDateOnly created_at }}</div>
</div>
<hr />
Received from: <br />
<strong>{{ customer.name }}</strong>
<div class="concept">As partial payment on account balance.</div>
<hr />
<div class="monotype">
  {{ toCents amount }}][{{ customer.uid }}][{{ uid }}
</div>
