<div class="row">
  <div class="span12">

    <div id="panel-region" class="extra-margin">
      <div class="btn-group">
        <a href="#" class="btn" id="edit-customer">Edit</a>
        <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
          <i class="icon icon-plus-sign"></i> Transactions
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#" id="add-purchase">Add Purchase</a></li>
          <li><a href="#" id="add-payment">Add Payment</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <a class="btn dropdown-toggle btn-danger" data-toggle="dropdown" href="#">
          <i class="icon icon-remove-sign"></i> Delete
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#" id="delete-customer">Yes, Delete</a></li>
        </ul>
      </div>
    </div>

    <div id="actions-region" class=""></div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <div id="customer-region" class="well">
      <div itemscope="" itemtype="http://schema.org/Person">
        <div class="row">
          <div class="span5">
            <h2><span itemprop="name"><%= @customer.name %></span></h2>
          </div>
          <div class="span5">
            <p>
              <strong>Balance: <%= number_to_currency @customer.balance %></strong>
            </p>
            <% if !@customer.email.empty? %>
            <p>
              <span itemprop="email">
                <i class="icon-envelope-alt"></i> 
                <%= link_to @customer.email, "mailto:#{@customer.email}" %>
              </span>
            </p>
            <% end %>
            <% if !@customer.phone.empty? %>
            <p>
              <span itemprop="telephone">
                <i class="icon-phone-sign"></i> 
                <%= link_to @customer.phone, "#{@customer.phone}" %>
              </span>
            </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="transactions-region" class="span12">
    <h4>Transactions</h4>

    <table class="table table-striped" id="transaction-list">
      <thead>
        <tr>
          <th>Type</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% if @transactions.any? %>
          <% @transactions.each do |transaction| %>
            <tr>
              <td class="span8">
                <div class="transaction-type"><%= transaction.type %></div>
                <div class="transaction-date"><%= transaction.created_at.strftime('%Y-%m-%d') %></div>
                <div class="actions">
                  <%= transaction_type_link(transaction) %>
                </div>
              </td>
              <td class="span4">
                <div class="amount"><%= number_to_currency transaction.amount %></div>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="2">No Sales or payments yet. Click above to add a Sale or Payment.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
