<legend>Add Item</legend>
<div class="control-group">
  <input type="text" placeholder="Name" name="name" value="{{ name }}" />
</div>
<div class="control-group">
  <input type="text" placeholder="Qty" name="qty" value="{{ qty }}" />
</div>
<div class="control-group">
  <input type="text" placeholder="Color" name="color" value="{{ color }}" />
</div>
<div class="control-group">
  <input type="text" placeholder="Size" name="size" value="{{ size }}" />
</div>
<div class="control-group">
  <input type="text" placeholder="Cost" name="cost" value="{{ size }}" />
</div>
<div class="control-group">
  <input type="text" placeholder="Price" name="price" value="{{ price }}" /><br />
  <input type="hidden" name="sale_id" value="{{ sale_id }}" />
</div>
