<!DOCTYPE html>
<html class="ui-mobile">
<head>
  <title>Sale Tracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div data-role="page">
    <%= render 'shared/header', :title => 'Dashboard' %>

    <div data-role="content" id="backbone-container">
        <% flash.each do |key, value| %>
          <div id="flash_messages" class="flash_message ui-bar ui-bar-e">
            <%= content_tag :div, value, :class => "flash #{key}" unless value.blank? %>
          </div>
        <% end %>

        <%= yield %>
    </div>

    <%= render 'shared/footer_nav' %>
  </div>

  <%= javascript_include_tag "application" %>
  <%= yield :js %>
</body>
</html>
