<!DOCTYPE html>
<html class="ui-mobile-rendering">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AndreBadi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div id="flash_messages" class="flash_message twelve columns centered">
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, :class => "flash #{key}" unless value.blank? %>
    <% end %>
  </div>

<%= yield %>



<%= javascript_include_tag "application" %>
</body>
</html>
